<div class="container">

  <div class="row cS-header">
    <div class="col">
      <div class="cS-info-top">
        <div class="cS-info-top-map"></div>
        <div class="cS-info-top-mode"></div>
      </div>
    </div>
    <!-- Timer bar -->
    <div class="col cS-center-header">
      <div class="cS-timer left"><div>90</div></div>
      <div class="cS-header-bar">
        <span>CHOOSE YOUR CHAMPION</span>
      </div>
      <div class="cS-timer right"><div>90</div></div>
    </div>
    <div class="col">
      <div class="cS-info-top">
        <div class="cS-info-top-is-custom"></div>
        <!-- Dedicated mode, Custom mode -->
      </div>
    </div>
  </div>
  <div class="row cS-body">
    <!-- Ally picks -->
    <div class="col cS-ally-picks">
      <div class="cS-summoner ally" placeholder="true">
        <img class="championimg" src="../assets/imgs/champion/unknown.webp" />
        <div class="cS-summoner-info">
          <div class="cS-summoner-nickname"></div>
          <div class="cS-summoner-champion"></div>
        </div>
        <div class="cS-summoner-spells"><div class="cS-spell-a"></div><div class="cS-spell-b"></div></div>
      </div>
    </div>
    <!-- Main pool -->
    <div class="col cS-center cS-p-and-l">
      <div class="cS-pool">
        <div class="cS-pool-header"><b>Warning: </b>not every champion is working!</div>
        <!-- <div class="cS-pool-header">Not working or only autos</div>
        <div class="cS-champion-to-select"><label><input type="radio" name="champion" value="aatrox" /><img src="../assets/imgs/champion/aatrox.png"></label></div> -->
      </div>
      <div class="cS-layout">
        <div class="cS-runes-masteries">
          <div>
            <select class="darktor">
              <option>Runes: AS AD AND MR</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>
          <div>
            <select class="darktor">
              <option>Masteries: Yasuo <3</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>
        </div>
        <div class="cS-summoner-spells-l">
          <div class="cS-smm-a" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" title="Select first spell" data-html="true"

          data-content="<div class='smmsimgs'>
            <div class='smmsa'><img id='smmsa' smid='Dot' srealid='Ignite' src='../assets/imgs/summs/Ignite.webp' /></div>
            <div class='smmsa'><img id='smmsa' smid='Exhaust' srealid='Exhaust' src='../assets/imgs/summs/Exhaust.webp' /></div>
            <div class='smmsa'><img id='smmsa' smid='Flash' srealid='Flash' src='../assets/imgs/summs/Flash.webp' /></div>
            <div class='smmsa'><img id='smmsa' smid='Haste' srealid='Ghost' src='../assets/imgs/summs/Ghost.webp' /></div>
            <div class='smmsa'><img id='smmsa' smid='Heal' srealid='Heal' src='../assets/imgs/summs/Heal.webp' /></div>
            <div class='smmsa'><img id='smmsa' smid='Mana' srealid='Clarity' src='../assets/imgs/summs/Clarity.webp' /></div>
            <div class='smmsa'><img id='smmsa' smid='Revive' srealid='Revive' src='../assets/imgs/summs/Revive.webp' /></div>
            <div class='smmsa'><img id='smmsa' smid='Smite' srealid='Smite' src='../assets/imgs/summs/Smite.webp' /></div>
          </div>">

            <img id='smmsa' smid='Heal' srealid='Heal' src="../assets/imgs/summs/Heal.webp" />

          </div>
          <div class="cS-smm-b" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" title="Select second spell" data-html="true"

          data-content="<div class='smmsimgs'>
            <div class='smmsb'><img id='smmsb' smid='Dot' srealid='Ignite' src='../assets/imgs/summs/Ignite.webp' /></div>
            <div class='smmsb'><img id='smmsb' smid='Exhaust' srealid='Exhaust' src='../assets/imgs/summs/Exhaust.webp' /></div>
            <div class='smmsb'><img id='smmsb' smid='Flash' srealid='Flash' src='../assets/imgs/summs/Flash.webp' /></div>
            <div class='smmsb'><img id='smmsb' smid='Haste' srealid='Ghost' src='../assets/imgs/summs/Ghost.webp' /></div>
            <div class='smmsb'><img id='smmsb' smid='Heal' srealid='Heal' src='../assets/imgs/summs/Heal.webp' /></div>
            <div class='smmsb'><img id='smmsb' smid='Mana' srealid='Clarity' src='../assets/imgs/summs/Clarity.webp' /></div>
            <div class='smmsb'><img id='smmsb' smid='Revive' srealid='Revive' src='../assets/imgs/summs/Revive.webp' /></div>
            <div class='smmsb'><img id='smmsb' smid='Smite' srealid='Smite' src='../assets/imgs/summs/Smite.webp' /></div>
          </div>">

            <img smid='Flash' src="../assets/imgs/summs/Flash.webp" />

          </div>
        </div>
        <div class="cS-submit-champ">
          <button class="darkmit" disabled>Lock in</button>
        </div>
      </div>
    </div>
    <!-- Enemy picks -->
    <div class="col cS-enemy-picks">
      <div class="cS-summoner enemy" placeholder="true">
        <img class="championimg" src="../assets/imgs/champion/unknown.webp" />
        <div class="cS-summoner-info">
          <div class="cS-summoner-nickname"></div>
          <div class="cS-summoner-champion"></div>
        </div>
        <div class="cS-summoner-spells"><div class="cS-spell-a"></div><div class="cS-spell-b"></div></div>
      </div>
    </div>
  </div>
  <div class="row cS-footer">
    <!-- Ally bans -->
    <div class="col cS-ally-bans">
      <div class="cS-pool-header" style="border-top-right-radius: 0;">Ally bans</div>
      <div class="cS-ban-no-draft">It's not draft pick</div>
      <!-- <div class="cS-ban"><img src="../assets/imgs/champion/hecarim.png"><span> Hecarim</span></div>
      <div class="cS-ban"><img src="../assets/imgs/champion/hecarim.png"><span> Hecarim</span></div>
      <div class="cS-ban"><img src="../assets/imgs/champion/hecarim.png"><span> Hecarim</span></div> -->
    </div>
    <!-- Chat -->
    <div class="col cS-center cS-chat">
      <div class="cS-chat-messages" id="cS-chat-messages"></div>
      <div class="cS-chat-input"><input class="darkput" type="text" maxlength="128" /></div>
    </div>
    <!-- Enemy bans -->
    <div class="col cS-enemy-bans">
      <div class="cS-pool-header" style="border-top-left-radius: 0;">Enemy bans</div>
      <div class="cS-ban-no-draft">It's not draft pick</div>
      <!-- <div class="cS-ban"><img src="../assets/imgs/champion/hecarim.png"><span> Hecarim</span></div>
      <div class="cS-ban"><img src="../assets/imgs/champion/hecarim.png"><span> Hecarim</span></div>
      <div class="cS-ban"><img src="../assets/imgs/champion/hecarim.png"><span> Hecarim</span></div> -->
    </div>
  </div>

  <div class="cS-welcome">
    <div class="cS-w-map"></div>
    <hr />
    <div class="cS-w-mode"></div>
  </div>

</div>
