<section name="customGames">
  <div class="joinviafastcodemodal modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content" style="border-radius: 15px">
        <div class="modal-body" style="margin-bottom: 0px;padding: 15px;padding-bottom: 5px;">

          <div class="row">
            <div class="col">
              <input type="text" class="darkput input-sm text-center" style="font-weight: 600" maxlength="12" placeholder="Enter your Fastcode" id="cG_join_via_fastcode_input" autofocus>
            </div>
          </div>

        </div>
        <div class="modal-footer" style="padding: 15px;padding-top: 5px;">
          <button type="button" class="btn btn-secondary btn-sm" id="cG_join_via_fastcode_btn"><b>Join</b></button>
        </div>
      </div>
    </div>
  </div>
  <main class="customGames-container container">
    <!-- <div class="cG-header">
      <h1 class="font-weight-light title">Custom games</h1>
    </div>
    <hr class="t-header" /> -->
    <div class="cG-customs">
      <div class="cG-lobby-list">

        <table style="width: 100%">
          <thead>
            <tr class="cG-sort-by-section">
              <th class="cG-sort-padlock"><i class="fas fa-lock"></i> <i class="fas fa-caret-up"></i><!-- <i class="fas fa-caret-down"></i> --></th>
              <th class="cG-sort-name">Name <i class="fas fa-caret-up"></i><!-- <i class="fas fa-caret-down"></i> --></th>
              <th class="cG-sort-map">Map <i class="fas fa-caret-up"></i><!-- <i class="fas fa-caret-down"></i> --></th>
              <th class="cG-sort-players">Players <i class="fas fa-caret-up"></i><!-- <i class="fas fa-caret-down"></i> --></th>
              <th class="cG-sort-createdby">Created by <i class="fas fa-caret-up"></i><!-- <i class="fas fa-caret-down"></i> --></th>
            </tr>
            <tr><th colspan="5"><hr class="t-table" /></th></tr>
          </thead>
          <tbody style="overflow: auto">
            <!-- <tr cG-no-rooms><td></td><td colspan="4">There is no rooms yet! (You can create one)</td></tr> -->
            <tr cG-room>
              <td><i class="fa fa-lock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Summoner's rift</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Howling Abbys</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Twisted Threeline</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cG-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
            <tr cg-room>
              <td><i class="fa fa-unlock"></i></td>
              <td>Super fajny i wgl room</td>
              <td>Crystal Scarr</td>
              <td>5/12</td>
              <td>iClyde</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="cG-options">
        <input type="text" class="darkput" placeholder="Search..." autofocus>
        <button class="darkmit cG-enter-fastcode">Join with Fastcode</button>
        <button class="darkmit cG-create-new-room">Create Custom</button>
        <button class="darkmit close-customs-btn">Back to Home</button>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>

    <div class="cG-create-new-game" style="display: none;">
      <div class="cGC-choose-map">
        <form>

          <label for="cGC-map-sr" class="cGC-map-label">
            <input type="radio" class="cGC-map-radio" name="cGC-map" id="cGC-map-sr" value="1" />
            <img class="cGC-map-img" src="../assets/imgs/mapsimgs/sr.jpg" />
            <span class="cGC-map-span">Summoner's rift</span>
          </label>

          <label for="cGC-map-ha" class="cGC-map-label">
            <input type="radio" class="cGC-map-radio" name="cGC-map" id="cGC-map-ha" value="2" />
            <img class="cGC-map-img" src="../assets/imgs/mapsimgs/ha.jpg" />
            <span class="cGC-map-span">Howling abyss</span>
          </label>

          <label for="cGC-map-tt" class="cGC-map-label">
            <input type="radio" class="cGC-map-radio" name="cGC-map" id="cGC-map-tt" value="3" />
            <img class="cGC-map-img" src="../assets/imgs/mapsimgs/tt.jpg" />
            <span class="cGC-map-span">Twisted threeline</span>
          </label>

          <label for="cGC-map-cs" class="cGC-map-label">
            <input type="radio" class="cGC-map-radio" name="cGC-map" id="cGC-map-cs" value="4" />
            <img class="cGC-map-img" src="../assets/imgs/mapsimgs/cs.jpg" />
            <span class="cGC-map-span">Crystal scar</span>
          </label>

        </form>
      </div>
      <div class="cGC-choose-options">
        <div class="row">
          <label class="col">Name:<input class="darkput" type="text" placeholder="Room name" val="" /></label>
        </div>

        <div class="row">
          <label class="col">
            <span>Password: </span>
            <label class="custom-darkbox"><input type="checkbox" class="darkbox" val="" /><span class="darkbox-image"></span><span class="darkbox-label">Show Password</span></label>
            <input class="darkput" type="password" val="" />
          </label>
          <label class="col">
            <span>Fastcode: </span>
            <label class="custom-darkbox"><input type="checkbox" class="darkbox" val="" /><span class="darkbox-image"></span><span class="darkbox-label">Show Fastcode</span></label>
            <input class="darkput" type="password" />
          </label>
        </div>

        <div class="row">
          <label class="ml-3"><span>Championselect mode</span>
            <select class="darktor">
              <option value="1">Blind</option>
              <option value="2">Draft</option>
              <option value="3">Random</option>
            </select>
          </label>
          <label class="ml-3"><span>Cheats</span>
            <select class="darktor">
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
          </label>
          <label class="ml-3"><span>Minions</span>
            <select class="darktor">
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
          </label>
          <label class="ml-3"><span>Cooldowns</span>
            <select class="darktor">
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
          </label>
          <label class="ml-3"><span>Teams size</span>
            <select class="darktor">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </label>
        </div>

        <div class="row">
          <button class="darkmit cGC-create-room-btn col ml-3" disabled>Create lobby</button>
          <button class="darkmit back-to-customs-btn col ml-3 mr-3">Back to Rooms list</button>
          <button class="darkmit close-customs-btn col mr-3">Back to Home</button>
        </div>

      </div>
    </div>
  </main>
</section>
