<section name="ingame">

  <main class="container ingame text-center">
    <div class="row">
      <div class="col">
        <h1>Game is loading</h1>
      </div>
    </div>
    <div class="underheader row text-center">
      <div class="col">
        <div>If the game will not load in X seconds. We will void the game!</div>
        <div>
          If you know someone got a bug you can vote to avoid this game.<br>
          After one of above you will be able to start new game<br>
          this game will not be save to your history!<br />
          <b>You need more than 50% of votes to do that!</b>
        </div>
      </div>
    </div>
    <div class="ready-champions row">
      <div class="col">
        <div class="champs-cover blue-team">
          <div class="igbeforer" style="clear: both;"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col ingame-btn-col">
        <button class="darkmit ingame-btn" id="reconnect-btn" disabled>Already connected</button>
      </div>
      <div class="col ingame-btn-col">
        <button class="darkmit ingame-btn" id="void-vote-btn">Vote for avoid the game (0/1)</button>
      </div>
    </div>

    <div class="ready-champions row">
      <div class="col">
        <div class="champs-cover purple-team">
          <!-- <div class="ingame-champ-image"><img src="../assets/imgs/champion/ezreal.png" /></div>
          <div class="ingame-champ-image"><img src="../assets/imgs/champion/ezreal.png" /></div>
          <div class="ingame-champ-image"><img src="../assets/imgs/champion/ezreal.png" /></div>
          <div class="ingame-champ-image"><img src="../assets/imgs/champion/ezreal.png" /></div>
          <div class="ingame-champ-image"><img src="../assets/imgs/champion/ezreal.png" /></div>
          <div class="ingame-champ-image"><img src="../assets/imgs/champion/ezreal.png" /></div> -->
          <div class="igbeforer" style="clear: both;"></div>
        </div>
      </div>
    </div>

  </main>

</section>
