<div class="bg-darker">
  <div class="iconsetup modal fade">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content icon-cont">
        <div class="modal-header">
          <h5 class="modal-title">Select your favorite icon!</h5>
        </div>
        <div class="modal-body" style="margin-bottom: 0px;">

          <div class="row">
            <div class="col icon-col">
              <form>
                <div class="iconmenu setupicons"></div>
              </form>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="icmnsv" disabled>
            <img src="../assets/imgs/spinner.gif" style="display: none" id="icmnsvspinner" />
            <b>Save my choice!</b>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="firstloginsn modal fade">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Before, choose your nickname!</h5>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="fnib" placeholder="Enter your first nickname" autofocus>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="flsnchkbtn" disabled>
            <img src="../assets/imgs/spinner.gif" style="display: none" id="flsnchkbtnspinner" />
            <b>Check availability</b>
          </button>
          <button type="button" class="btn btn-secondary" id="flsnbtn" disabled>
            <img src="../assets/imgs/spinner.gif" style="display: none" id="flsnbtnspinner" />
            <b>Set this nickname!</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./../assets/js/modules/newplayersetup.js"></script>
