<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>League of Oldschool</title>
      <!-- <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script> -->
      <script>var $ = require('jQuery'); var jQuery = $;</script>
      <script src="../node_modules/jquery-ui-dist/jquery-ui.js"></script>
      <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
      <script src="../node_modules/jquery-contextmenu/dist/jquery.contextMenu.min.js"></script>
      <script src="../node_modules/jquery-contextmenu/dist/jquery.ui.position.min.js"></script>
      <script src="../assets/js/head-script.js"></script>
      <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
      <link rel="stylesheet" href="../node_modules/jquery-contextmenu/dist/jquery.contextMenu.min.css">
      <link rel="stylesheet" href="../assets/css/style.css" />
    </head>
    <body>
      <div class="body_head"></div>
      <main id="main-client"></main>

      <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="../assets/js/end-script.js"></script>
    </body>
  </html>
