.client-alerts {
  position: absolute;
  right: 20px;
  top: calc(10vh + 20px);
  z-index: 50000;
}

.alerts {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 15px;
  margin-bottom: 5px;
  transition: top, bottom 5s linear;
  opacity: 0;
}

.alerts.success {
  border-left: 3px solid #338800;
  border-right: 3px solid #338800;
}

.alerts.error {
  border-left: 3px solid #aa0000;
  border-right: 3px solid #aa0000;
}

.alerts.info {
  border-left: 3px solid #FFD700;
  border-right: 3px solid #FFD700;
}

.iconmenu .icon-box label {
  margin: 0;
  padding: 0;
}

.iconmenu .icon-box label > input{
  visibility: hidden;
  position: absolute;
}
.iconmenu .icon-box label > input + img{
  cursor: pointer;
}

.iconmenu .icon-box label > input:checked + img {
  outline: 2px solid #eee;
}

.iconmenu {
  border: 1px solid rgba(119, 96, 0, 0.6);
  padding: 10px;
  min-width: 767px !important;
  max-width: 767px !important;
  max-height: 59vh;
  overflow: auto;
}

.iconmenu .icon-box {
  float: left;
  border: 1px solid black;
  margin: 4px;
  cursor: pointer;
}

.iconmenu .icon-box-img {
  height: 64px;
  width: 64px;
}

.iconmenu .icon-col img:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#home-page .input-group input {
  border-radius: 2px;
  color: white !important;
  background-color: rgba(20, 20, 20, 0.9);
  border: 1px #998100 solid;
  transition: 0.3s all;
  height: 44px;
}

#home-page .modal-footer button {
  height: 44px;
  transition: all .4s;
}

#home-page .bg-darker {
  background-color: rgba(20, 20, 20, 0.3);
  position: absolute;
  height: 100vh;
  width: 100%;
  opacity: 0;
}

.social-zone {
  position: absolute;
  height: 100vh;
  width: 270px;
  background-color: rgba(0, 0, 0, 0.3);
  left: -270px;
  opacity: 0;
}

.social-zone .social-header {
  width: 100%;
  padding: 22.5px 7.45px 5px 7.45px;
  border-bottom: 2px solid #998100;
}

.social-zone .social-header-sub {
  width: 100%;
  height: 100%;
  position: relative;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.social-zone .social-header-pinfo {
  padding-left: 17px;
}

.social-zone .social-header .social-nick {
  font-size: 1.45rem;
}

.social-zone .social-header .social-description {
  font-size: 1rem;
  float: left;
  border: none;
  background: 0;
  color: #eee;
  transition: all 0.3s;
}

.social-description:focus {
  background: rgba(0, 0, 0, 0.3) !important;
}

.social-module {
  height: calc(100% - 87.5px - 5vh);
  width: 270px;
  position: fixed;
  left: -270px;
}

.social-zone .social-content-search {
  width: 100%;
  position: relative;
  padding-bottom: 39px;
}

.social-zone .social-content-search .social-search-icon {
  position: absolute;
  z-index: 20;
  top: 12px;
  left: 10px;
}

.social-zone .social-content-search .social-search-input {
  width: 100%;
  background-color: rgba(20, 20, 20, 0.6);
  position: absolute;
  border: none;
  color: white;
  padding: 7px 7px 7px 34px;
}

.social-zone .social-friend {
  width: 100%;
  padding: 10px;
  height: auto;
  position: relative;
}

.social-zone .social-content-friend-list {
  overflow: auto;
  max-height: calc(100vh - 15vh - 36px);
}

.social-zone .social-friend .social-friend-icon {
  float: left;
  padding-right: 8px;
}
.social-zone .social-friend img {
  border-radius: 48px;
  height: 48px;
}

.social-zone .social-friend-info {
  float: left;
  width: calc(100% - 64px);
}

.social-zone .social-friend-status-bar {
  float: left;
  width: 8px;
  height: 48px;
  background: green;
}

.social-footer {
  height: 5vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.social-footer .social-footer-sub {
  text-align: center;
  line-height: 5vh;
  border-top: 2px solid #998100;
}

.social-footer .social-footer-sub .social-footer-addfriend {
  width: 33.3333%;
  float: left;
}
.social-footer .social-footer-sub .social-footer-globalchat {
  width: 33.3333%;
  float: left;
}
.social-footer .social-footer-sub .social-footer-ignoremenu {
  width: 33.3333%;
  float: left;
}

.social-hover:hover {
  background-color: rgba(133, 154, 175, 0.2);
  cursor: pointer;
  transition: background-color 0.2s;
}

.social-hover:active {
  background-color: rgba(133, 154, 175, 0.1);
  transition: background-color 0s;
}

.social-zone .social-header .social-header-sub .social-header-status-bar {
  height: calc(100% - 12px);
  width: 6px;
  background-color: #28a745;
  margin-top: 8px;
  position: absolute;
  float: left;
  cursor: pointer;
}

.client-menu {
  position: absolute;
  width: calc(100% - 270px);
  margin-left: 270px;
  height: 89.5px;
  top: -10vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  border-bottom: 2px solid #998100;
}

.client-menu .client-menu-sub {
  position: relative;
  height: 89.5px;
  width: 100%;
}

.client-menu .client-menu-sub .client-menu-left {
  float: left;
  width: auto;
}
.client-menu .client-menu-sub .client-menu-right {
  float: right;
  width: auto;
}

.client-menu .client-menu-sub .client-menu-btn {
  height: 89.5px;
  line-height: 89.5px;
  padding: 0px 20px;
  background: inherit;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 800;
  font-size: 1.25rem;
}

.client-menu .client-menu-sub .client-menu-playbtn {
  padding: 0px 30px;
  transition: background-color 0.3s;
}

.client-menu .client-menu-sub .client-menu-playbtn[data-selected=true] {
  background-color: rgba(255, 255, 255, 0.05);
}

.client-menu .client-menu-sub .client-menu-btn:hover {
  background-color: rgba(133, 154, 175, 0.2);
  cursor: pointer;
  transition: background-color 0.2s;
}

.client-menu .client-menu-sub .client-menu-btn:active {
  background-color: rgba(133, 154, 175, 0.1);
  transition: background-color 0s;
  color: rgba(255, 255, 255, 1);
}

.client-menu .client-menu-play-sub {
  position: relative;
  width: 100%;
  height: 38px;
  display: none;
}

.client-menu .client-menu-play-modes {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 0%;
  z-index: 2000;
}

.client-menu .client-menu-mode-btn {
  display: none;
  opacity: 0;
  background: 0;
  border: 0;
  color: white;
  height: 38px;
}

.client-menu .client-menu-mode-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.client-menu .client-menu-mode-btn:active {
  background-color: rgba(255, 255, 255, 0.05);
}

.client-menu .client-menu-play-left {
  float: left;
}
.client-menu .client-menu-play-right {
  float: right;
}

.chat-box {
  position: absolute;
  left: 270px;
  bottom: 0;
  height: 4.9vh;
  width: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}

.chat-box-controls {
  position: inherit;
  top: 0px;
  width: 100%;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 5vh;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #998100;
  display: none;
}

.chat-box-control-minimize {
  float: right;
  padding-right: 10px;
}

.chat-box-control-exit {
  float: right;
  padding-right: 10px;
}

.chat-box-control-btn:hover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: color 0.2s;
}

.chat-box-control-btn:active {
  color: rgba(255, 255, 255, 0.7);
}

.chat-box-content {
  height: calc(100% - 5vh);
  width: 100%;
  margin-top: 5vh;
}

.chat-box-chats {
  width: 30%;
  height: 100%;
  border-right: 2px solid #998100;
  overflow: auto;
  float: left;
}

.chat-box-chat {
  width: calc(70% - 2px);
  height: 100%;
  float: left;
}

.chat-box-chats-chatter {
  width: 100%;
  height: auto;
  padding: 5px 2px 5px 0px;
}

.chat-box-chatter-img {
  height: 48px;
  border-radius: 48px;
  float: left;
  margin: 0 6px;
  line-height: 50px;
}

.chat-box-chatter-info-basic {
  float: left;
  width: calc(100% - 60px);
}

.chat-box-chatter-status {
  float: left;
  height: calc(50px - 4px);
  margin: 2px 0px;
  width: 5px;
  background-color: green;
}

.chat-box-chatter-lastmsg {
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.chat-box-chatter-nick {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 20px);
  float: left;
}

.chat-box-category {
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 6px;
}

.chat-box-conversation {
  width: 100%;
  height: calc(100% - 40px);
  padding: 10px;
  overflow: auto;
}

.chat-box-input-side {
  width: 100%;
  height: 40px;
}

.chat-box-input {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #eee;
  border: none;
  padding: 5px;
}

.chat-date {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.chat-date > span {
  position: relative;
  display: inline-block;
  color: rgba(212, 212, 212, 0.8);
}

.chat-date > span:before,
.chat-date > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 2px;
  background: rgba(170, 170, 170, 0.8);
}

.chat-date > span:before {
  right: 100%;
  margin-right: 15px;
}

.chat-date > span:after {
  left: 100%;
  margin-left: 15px;
}

.chat-box-title {
  padding-left: 6px;
  opacity: 0;
}

.chat-warning-info {
  color: rgba(212, 212, 212, 0.8);
}

.chat-box-newmsg {
  position: absolute;
  margin-top: 36px;
  margin-left: 9px;
  height: 13px;
  width: 43px;
  line-height: 6px;
  font-size: 10px;
}

.chat-box-newmsg.profile {
  margin-left: 3px !important;
}

.chat-box-chats-chatter[data-selected=true] {
  background-color: rgba(133, 154, 175, 0.2);
}

.chat-msg {
  background-color: rgba(20, 20, 20, 0.3);
  max-width: 90%;
  padding: 5px;
  border: 1px solid rgba(100, 100, 100, 0.6);
  float: left;
  margin-bottom: 2px;
  border-radius: 3px;
}

.chat-msg.you {
  float: right;
  text-align: right;
}

.chat-msg.unread-msg {
  border: 1px solid #fff700;
  transition: border-color 3s;
}

.badge-warning {
  opacity: 0;
}

.chat-msg-nick {
  margin-left: 1px;
  color: rgba(255, 255, 255, 0.8);
}

.social-type-friends {
  opacity: 0;
}

.social-content-no-friends {
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.social-content-no-friends img {
  filter: grayscale(100%);
  width: 128px;
  opacity: 0.6;
  margin-top: 10vh;
}

.social-content-no-friends span {
  opacity: 0.6;
}

.friend-req-title {
  text-align: center;
  background: rgba(10, 10, 10, 0.35);
  color: rgba(255, 255, 255, 0.9)
}

.friend-req {
  background: rgba(62, 62, 62, 0.15);
  padding: 6px;
  height: 36px;
}

.friend-req span {
  float: left;
  background: rgba(62, 62, 62, 0.15);
  height: 20px;
}

.friend-req-options {
  float: right;
  font-size: 13px;
  line-height: 24px;
}

.friend-req-options .fa-check {
  font-size: 12px;
  padding-right: 4px;
}

img.status-3 {
  border: 2px solid #00dcff;
  transition: border 0.3s;
}

img.status-2 {
  border: 2px solid #b91616;
  transition: border 0.3s;
}

img.status-1 {
  border: 2px solid #098e22;
  transition: border 0.3s;
}

img.status-0 {
  border: 2px solid #777;
  transition: border 0.3s;
}

.status-3 {
  color: #00dcff !important;
  transition: color 0.3s;
}

.status-2 {
  color: #ff4848 !important;
  transition: color 0.3s;
}

.status-1 {
  color: #28a745 !important;
  transition: color 0.3s;
}

.status-0 {
  color: #777 !important;
  transition: color 0.3s;
}

.status-3bg {
  background-color: #00dcff !important;
  transition: background-color 0.3s;
}

.status-2bg {
  background-color: #b91616 !important;
  transition: background-color 0.3s;
}

.status-1bg {
  background-color: #28a745 !important;
  transition: background-color 0.3s;
}

.status-0bg {
  background-color: #777 !important;
  transition: background-color 0.3s;
}

.social-icon {
  float: left;
  line-height: 58px;
  padding-left: 10px;
  padding-right: 3px;
}

.social-icon-change {
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: 20;
  transition: all 0.2s;
  font-size: 13px;
  height: 50px;
  width: 50px;
  margin-top: 6px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
}
.social-icon-change:hover {
  opacity: 1;
  cursor: pointer;
}

.social-icon-img {
  height: 50px;
  border-radius: 50px;
}

@media only screen and (height: 900px)  {
  .notification-badge {
    font-size: 9px;
    height: 14px;
    bottom: 4px;

  }
}

@media only screen and (height: 720px)  {
  .notification-badge {
    font-size: 8px;
    height: 12px;
    bottom: 2px;
  }
}

@media only screen and (height: 576px)  {
  .notification-badge {
    font-size: 7px;
    height: 10px;
    bottom: 1px;
  }
}

.notification-badge {
  position: fixed;
  font-weight: 800;
  opacity: 0;
}

.notification-badge.friends {
  left: 48px;
}
.notification-badge.chats {
  left: 145px;
}

.chat-box-title i {
  margin-left: 5px;
  padding: 0px 9px 3.5px 8px;
  color: #cec25f;
  border: 1px solid #cec25f;
  border-radius: 10px;
  font-size: 13px;
  opacity: 0;
}


@media only screen and (height: 576px)  {
  .chat-box-title i {
    padding: 0px 9px 2.5px 8px;
    font-size: 12px;
  }
}

.client-menu-homepagebtn {
  margin-right: 65px;
}

.homepage {
  margin-left: 270px;
  margin-top: calc(10vh - 2px);
  opacity: 0;
}

.homepage section[name=customGames] {
  opacity: 0;
  /* position: relative; */
}

.homepage iframe {
  border: 0;
  height: calc(90vh + 2px);
  width: 100%;
  overflow: hidden;
}


.championselect {
  width: calc(100% - 270px);
  position: absolute;
  height: 100%;
  opacity: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
  display: none;
}

.championselect .col {
  padding: 5px;
}

.cS-summoner {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  height: 76px;
  margin: 11.4px 0;
}

.cS-summoner.ally .championimg {
  float: left;
  height: 74px;
  border-radius: 74px;
  padding: 5px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.cS-summoner.ally .cS-summoner-info {
  padding-left: 2px;
  float: left;
}

.cS-summoner.ally .cS-summoner-nickname {
  font-size: 20px;
  margin-top: 9px;
}

.cS-summoner.ally .cS-summoner-spells {
  float: right;
  margin-right: 5px;
}

.cS-summoner.ally .cS-summoner-spells .cS-spell-a img {
  height: 31px;
  border-radius: 31px;
  margin: 4px 0px;
}

.cS-summoner.ally .cS-summoner-spells .cS-spell-b img {
  height: 31px;
  border-radius: 31px;
}

.cS-summoner.enemy .championimg {
  float: right;
  height: 74px;
  border-radius: 74px;
  padding: 5px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.cS-summoner.enemy .cS-summoner-info {
  padding-right: 2px;
  float: right;
  text-align: right;
}

.cS-summoner.enemy .cS-summoner-nickname {
  font-size: 20px;
  margin-top: 9px;
}

.cS-summoner.enemy .cS-summoner-spells {
  float: left;
  margin-left: 5px;
}

.cS-summoner.enemy .cS-summoner-spells .cS-spell-a {
  height: 31px;
  width: 31px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 31px;
  margin: 4px 0px;
}

.cS-summoner.enemy .cS-summoner-spells .cS-spell-b {
  height: 31px;
  width: 31px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 31px;
}

.cS-center {
  flex: 0 0 52%;
  max-width: 52%;
}

.cS-center-header {
  flex: 0 0 65%;
  max-width: 65%;
}

.cS-header {
  height: 70px;
}

.cS-header-bar {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  height: 100%;
  float: left;
  width: calc(100% - 100px);
}

.cS-pool {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-top: 11px;
  height: calc(82.9% - 10px);
  max-height: 450px;
  overflow: auto;
}

.cS-layout {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: calc(17% - 12px);
}

.cS-ally-bans {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-left: 5px;
  padding: 0 !important;
}

.cS-info-top {
  font-weight: 500;
  color: rgba(250, 250, 250, 0.8);
  font-size: 18px;
  opacity: 0;
}

.cS-info-top-is-custom {
  text-align: right;
  line-height: 3.5;
}

.cS-info-top-map {
  margin-top: 3px;
}

.cS-chat {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0px !important;
}

.cS-chat-msg b {
  font-weight: 500;
}

.cS-chat-messages {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: calc(90% - 8px);
  width: 100%;
  padding: 3px 7px;
  overflow: auto;
}

.cS-chat-input input {
  width: 100%;
  height: 10%;
  border: 0;
}

.cS-chat-input input:focus {
  border: 0 !important;
  outline: none;
}

.cS-enemy-bans {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-right: 5px;
  padding: 0 !important;
}

.cS-center-header {
  opacity: 0;
  text-align: center;
  font-size: 37px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
}

.cS-center-header span {
  opacity: 0;
}

.cS-p-and-l {
  opacity: 0;
}

.cS-runes-masteries {
  float: left;
  margin-left: 15px;
  margin-top: 1.4px;
}

/* POPOVER CUSTOM */
.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after {
  border-top-color: rgba(19, 18, 18, 0.76) !important;
}
.popover {
  background-color: rgba(16, 16, 16, 0.92) !important;
}
.popover-header {
  background-color: rgba(35, 35, 35, 0.71) !important;
  border-bottom: 1px solid rgba(82, 82, 82, 0.49) !important;
  color: white !important;
}
.popover img {
  margin: 5px;
  height: 52.5px;
}
.popover .smmsa, .popover .smmsb {
  cursor: pointer;
  float: left;
}

.popover .smmsimgs:after {
  content: "";
  display: block;
  clear: both;
}

.summoner-not-ready:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 1px 100%, 1px 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 1px), 1px calc(100% - 1px), 1px 100%, 100% 100%, 100% 0%, 0% 0%)
}

.summoner-not-ready.in:after {
  animation: gradient-animation 4s ease-in-out infinite;
  height: 76px;
  width: 297px;
  border-radius: 11px;
  margin-top: 16px;
  margin-left: 5px;
}

@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
}

.cS-runes-masteries select {
  width: 200px;
}

.cS-summoner-spells-l {
  float: left;
  margin-left: 22px;
  margin-top: 10px;
}

.cS-submit-champ {
  float: right;
  margin: 5px 15px;
}

.cS-submit-champ button {
  padding: 10px 100px;
}

.cS-smm-a, .cS-smm-b {
  float: left;
}

.cS-smm-a img, .cS-smm-b img {
  height: 59px;
  border-radius: 5px;
}

.cS-smm-a {
  margin-right: 10px;
}

.cS-pool-header {
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, .45);
  margin: 5px 0px;
  clear: both;
}

.cS-pool-header:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-top: 0 !important;
}

.cS-champion-to-select {
  float: left;
}

.cS-champion-to-select img {
  height: 66.5px;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.cS-ban {
  margin-bottom: 5px;
  padding: 2px 5px;
}

.cS-ban img {
  height: 41px;
}

.cS-timer {
  height: 80%;
  margin-top: 7px;
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  float: left;
}

.cS-timer div {
  margin-top: -5.5px;
  opacity: 0;
}

.cS-timer.left {
  border-right: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.cS-timer.right {
  border-left: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.cS-champion-to-select label > input {
  visibility: hidden;
  position: absolute;
}

.cS-champion-to-select label > input + img {
  cursor: pointer;
  border: 2px solid transparent;
}

.cS-champion-to-select label > input:checked + img {
  border: 2px solid rgba(255, 255, 255, 0.5)
}

.cS-ally-picks {
  left: -330px;
}

.cS-enemy-picks {
  right: -330px;
}

.cS-footer {
  height: 235px;
  display: none;
  opacity: 0;
}

.cS-ban-no-draft {
  text-align: center;
  color: grey;
}

.cS-welcome {
  text-align: center;
  position: absolute;
  bottom: 53vh;
  width: 100%;
  left: 0px;
}

.cS-welcome .cS-w-map {
  font-size: 40px;
  left: -805px;
  position: relative;
}

.cS-welcome .cS-w-mode {
  font-size: 30px;
  right: -727px;
  position: relative;
}

.cS-welcome hr {
  border: 0;
  height: 2px;
  width: 450px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  margin: 0 auto !important;
  position: relative;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2000;
  display: none;
}

@media (width: 1600px) {
  .container {
    max-width: 1280px !important;
    padding-top: 1.5rem !important;
  }

  section[name=customGames] .cG-lobby-list {
    height: 86vh;
  }

  section[name=customGames] tbody {
    height: 82vh;
  }

  section[name=customGames] tr th:nth-child(1) {width: 4.3%}
  section[name=customGames] tr th:nth-child(3) {width: 15%}
  section[name=customGames] tr th:nth-child(4) {width: 9.2%}
  section[name=customGames] tr th:nth-child(5) {width: 21.5%}

  section[name=customGames] tr td:nth-child(1) {width: 4.3%}
  section[name=customGames] tr td:nth-child(3) {width: 15%}
  section[name=customGames] tr td:nth-child(4) {width: 9%}
  section[name=customGames] tr td:nth-child(5) {width: 20.9%}

  section[name=customGames] .cGC-map-span {top: 210px !important;width: 479px !important}
  section[name=customGames] img.cGC-map-img {width: 483px !important}
}

@media (width: 1280px) {
  .container {
    max-width: 965px !important;
    padding-top: 2.55rem !important;
  }

  section[name=customGames] .cG-lobby-list {
    height: 83vh;
  }

  section[name=customGames] tbody {
    height: 78vh;
  }

  section[name=customGames] tr th:nth-child(1) {width: 5.5%}
  section[name=customGames] tr th:nth-child(3) {width: 21%}
  section[name=customGames] tr th:nth-child(4) {width: 12.3%}
  section[name=customGames] tr th:nth-child(5) {width: 19%}

  section[name=customGames] tr td:nth-child(1) {width: 5.7%}
  section[name=customGames] tr td:nth-child(3) {width: 20.9%}
  section[name=customGames] tr td:nth-child(4) {width: 12.65%}
  section[name=customGames] tr td:nth-child(5) {width: 18.2%}

  section[name=customGames] .cGC-map-span {top: 135px !important;width: 321px !important}
  section[name=customGames] img.cGC-map-img {width: 325px !important}
}

@media (width: 1024px) {
  .container {
    max-width: 735px !important;
    padding-top: 2.9rem !important;
  }

  section[name=customGames] .cG-lobby-list {
    height: 79vh;
  }

  section[name=customGames] .cG-options {
    padding: 9px 0px 0px 15px !important;
  }

  section[name=customGames] tbody {
    height: 72vh;
  }

  section[name=customGames] tr th:nth-child(1) {width: 7.6%}
  section[name=customGames] tr th:nth-child(3) {width: 18%}
  section[name=customGames] tr th:nth-child(4) {width: 17%}
  section[name=customGames] tr th:nth-child(5) {width: 22%}

  section[name=customGames] tr td:nth-child(1) {width: 8%}
  section[name=customGames] tr td:nth-child(3) {width: 18%}
  section[name=customGames] tr td:nth-child(4) {width: 18%}
  section[name=customGames] tr td:nth-child(5) {width: 20.3%}

  section[name=customGames] .cGC-map-span {top: 70px !important;width: 205px !important}
  section[name=customGames] img.cGC-map-img {width: 209px !important}
}

section[name=customGames] hr.t-header {
  margin-top: 0rem !important;
  margin-bottom: 1rem !important;
  border-top: 1px solid rgba(153, 129, 0, 0.93) !important;
}

section[name=customGames] hr.t-table {
  margin-top: 5px !important;
  margin-bottom: 2px !important;
  border-top: 1px solid rgba(153, 129, 0, 0.93) !important;
}

section[name=customGames] .title {
  color: rgba(255, 255, 255, 0.95);
}

section[name=customGames] .cG-options {
  width: 24%;
  float: left;
  padding: 9px 17px 0px 30px;
}

section[name=customGames] .cG-lobby-list {
  width: calc(76% - 1px);
  border-right: 1px solid rgba(153, 129, 0, 0.93);
  padding-right: 30px;
  float: left;
}

section[name=customGames] .cG-sort-by-section th {
  border-right: 1px solid rgba(153, 129, 0, 0.93);
  padding-left: 7px;
  cursor: pointer;
  transition: background-color, box-shadow 0.3s;
  white-space: nowrap;
}

section[name=customGames] td {
  padding: 5px 0px 5px 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

tr td {
  border-left: 1px solid rgba(0,0,0,0)
}

section[name=customGames] [cg-room]:hover {
  transition: background-color 0.3s;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

section[name=customGames] [cg-room]:active {
  background-color: rgba(0, 0, 0, 0.06);
}

section[name=customGames] thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

section[name=customGames] thead {
  width: 100%;
}

section[name=customGames] table {
  width: 400px;
}

section[name=customGames] tbody {
  display: block;
  overflow: auto;
}

section[name=customGames] .cG-sort-by-section th:hover {
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0 0px 0px 5px rgba(255, 255, 255, 0.03);
}

section[name=customGames] .cG-sort-by-section th:first-child {padding-left: 4px}
section[name=customGames] td:first-child {padding-left: 4px}
section[name=customGames] .cG-sort-by-section th:last-child {border-right: 0}

section[name=customGames] .cGC-map-label {position: relative; cursor: pointer; margin-bottom: 10px; margin-left: 10px;font-weight: 600}
section[name=customGames] .cGC-map-span {position: absolute;left: 0;top: 120px;width: 493px;text-align: center;backdrop-filter: blur(3px);margin: 0px 2px}

section[name=customGames] .cGC-map-img {filter: grayscale(95%);transition: filter 0.5s}
section[name=customGames] .cGC-map-label:hover .cGC-map-img {filter: grayscale(0%)}

section[name=customGames] .cGC-map-label > .cGC-map-radio {visibility: hidden;position: absolute}
section[name=customGames] .cGC-map-label > .cGC-map-radio + .cGC-map-img {border: 2px solid #232323;border-radius: 5px}
section[name=customGames] .cGC-map-label > .cGC-map-radio:checked + .cGC-map-img {border: 2px solid #fff;filter: grayscale(0%)}
section[name=customGames] .cGC-map-radio:checked + .cGC-map-span {font-weight: 700}
section[name=customGames] img.cGC-map-img {width: 493px}

.darkput {
  width: 100%;
  border-radius: 2px;
  color: white !important;
  background-color: rgba(20, 20, 20, 0.9);
  border: 1px #998100 solid;
  transition: 0.3s all;
  padding: 5px 10px;
}

.darkput:active, .darkput:focus {
  border: 1px #b7a64c solid !important;
  background-color: rgba(20, 20, 20, 0.6);
  -webkit-box-shadow: none;
}

.darkmit {
  -webkit-box-shadow: none;
  width: 100%;
  background: rgba(20, 20, 20, 0.9);
  border-radius: 2px;
  border: 1px #998100 solid;
  color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  margin-top: 10px;
}

.darkmit:hover {
  background: rgba(20, 20, 20, 0.7);
  border: 1px #b7a64c solid;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.darkmit:disabled {
  background: rgba(20, 20, 20, 0.6) !important;
  border: 1px #b7a64c solid;
  color: rgba(255, 255, 255, 1);
}

.darkmit:active {background-color: rgba(10, 10, 10, 1) !important}
.darkmit:disabled:hover {cursor: not-allowed}
.darkmit:disabled b:hover {cursor: not-allowed}

.darktor {
  background-color: rgba(35, 35, 35, 0.8) !important;
  color: #eee !important;
  border-color: #998100 !important;
  cursor: pointer;
  margin-top: .5rem;
}

.darktor option {
  border-color: #998100 !important;
  background-color: rgba(15, 15, 15, 0.8) !important;
  color: #eee;
  cursor: pointer;
}

.darkbox {display: none}
.custom-darkbox {cursor: pointer;}
.darkbox-label:hover {color: #fff}

.darkbox-label {
  padding-left: 5px;
  font-size: 14px;
  transition: 0.3s all;
}

.darkbox-image {
  margin-bottom: 2px;
  width: 14px;
  height: 14px;
  background: url('../imgs/checkbox.png') no-repeat;
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
}

.darkbox:checked + .darkbox-image {
  background-position: bottom center;
}

label {
  margin-bottom: 0;
}
/* 1600px
////////////////////////////////////////////////////////////// */
@media (width: 1600px) {
  section[name="customGames-lobby"] .cGL-teams-list {
    height: 50vh;
  }

  section[name="customGames-lobby"] .cGL-chat {
    height: 27.8vh;
  }

  section[name="customGames-lobby"] .cGL-player-in-team {
    line-height: 62px
  }

  section[name="customGames-lobby"] .cGL-join-btn {
    height: 53%;
    width: 25%;
    margin-top: 16px;
  }
}
/* 1280px
////////////////////////////////////////////////////////////// */
@media (width: 1280px) {
  section[name="customGames-lobby"] .cGL-teams-list {
    height: 50vh;
  }

  section[name="customGames-lobby"] .cGL-chat {
    height: 23vh;
  }

  section[name="customGames-lobby"] .cGL-player-in-team {
    line-height: 49px;
  }

  section[name="customGames-lobby"] .cGL-join-btn {
    height: 60%;
    width: 25%;
    margin-top: 11px;
  }
}
/* 1024px
////////////////////////////////////////////////////////////// */
@media (width: 1024px) {
  section[name="customGames-lobby"] .cGL-teams-list {
    height: 46vh;
  }

  section[name="customGames-lobby"] .cGL-chat {
    height: 21.8vh;
  }

  section[name="customGames-lobby"] .cGL-player-in-team {
    line-height: 33px;
  }

  section[name="customGames-lobby"] .cGL-join-btn {
    height: 80%;
    width: 29%;
    margin-top: 3px;
  }
}

section[name="customGames-lobby"] .cGL-team-list {

}

section[name="customGames-lobby"] .cGL-chat {
  border: 1px rgba(255, 236, 136, 0.34) solid;
  margin: 12px 0px;
  border-radius: 5px;
}

section[name="customGames-lobby"] .cGL-player-in-team {
  height: calc(16.6666667% - 6px);
  margin: 5px 0;
  border: 1px rgba(255, 236, 136, 0.34) solid;
  padding: 0px 15px;
  border-radius: 5px;
}

section[name="customGames-lobby"] .cGL-invite-list {
  border: 1px rgba(255, 236, 136, 0.34) solid;
  height: calc(100% - 24px);
  margin: 12px 0;
  border-radius: 5px;
  color: #efefef;
  padding: 10px;
  overflow: auto;
  overflow-x: hidden;
}

section[name="customGames-lobby"] .cGL-invite-list .cGL-invite-no-invites {
  color: #999;
  text-align: center;
}

section[name="customGames-lobby"] .cGL-invite-list .cGL-invite {
  margin: 2px 0;
}

section[name="customGames-lobby"] .cGL-invite-list .cGL-invite .fa-check {
  font-size: 14px;
  padding-left: 1px;
  color: #1d9c1d !important;
}

section[name="customGames-lobby"] .cGL-invite-list .cGL-invite .fa-times {
  padding-left: 3px;
  color: #e64545 !important;
}

section[name="customGames-lobby"] .cGL-invite-list .cGL-invite-nick {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  margin-right: 8px;
  float: left;
}

section[name="customGames-lobby"] .cGL-invite-list .cGL-invite-nick.accepted {
  color: #1d9c1d !important;
}

section[name="customGames-lobby"] .cGL-invite-list .cGL-invite-nick.decline {
  color: #e64545 !important;
}

section[name="customGames-lobby"] .cGL-invite-list .cGL-invite-no-invites .cGL-invite-status {
  padding: 0px 5px;
}

section[name="customGames-lobby"] .cGL-settings {
  color: #aaa;
}

section[name="customGames-lobby"] .cGL-join-btn {
  float: left;
  line-height: normal;
  padding: 0px;
}

section[name="customGames-lobby"] .cGL-player-in-team.empty {
  text-align: right;
  color: #aaa;
}

section[name="customGames-lobby"] .cGL-player-in-team.full {
  background: rgba(20, 20, 20, 0.4);
}

section[name="customGames-lobby"] .cGL-chat-messages {
  height: calc(95% - 24px);
  padding: 10px;
  overflow: auto;
  overflow-x: hidden;
  word-break: break-all;
  color: #efefef;
}

section[name="customGames-lobby"] .cGL-chat-messages b {
  font-weight: 600;
}

section[name="customGames-lobby"] .cGL-chat-input {
  height: 5%;
}

section[name="customGames-lobby"] .cGL-chat-input .darkput {
  border: 0 !important;
  border-top: 1px rgba(153, 129, 0, 0.46) solid !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

section[name="customGames-lobby"] .cGL-player-img {
  float: left;
}

section[name="customGames-lobby"] .cGL-player-img img {
  height: 55px;
  border-radius: 55px;
  border: 1.6px solid #999000;
}

section[name="customGames-lobby"] .cGL-player-nick-options {
  float: left;
  padding-left: 6px;
}

section[name="customGames-lobby"] .cGL-player-nick {
  line-height: 33px;
}

section[name="customGames-lobby"] .cGL-player-option-btn {
  line-height: 20px !important;
  vertical-align: 0 !important;
  font-weight: 600;
  padding: 0 6px !important;
}

section[name="customGames-lobby"] .cGL-player-option-btn.granted {
  color: lightgreen !important;
}

section[name="customGames-lobby"] .cGL-player-option {
  line-height: 20px;
}

section[name="customGames-lobby"] .cGL-player-option-btn.no-king {
  display: none;
}

.fa-crown {
  color: gold !important;
}

.cGL-invite {
  padding: 0px 5px;
  border-radius: 5px;
  transition: background-color .3s;
}

.cGL-invite[status=pending]:hover {
  cursor: progress;
}

.cGL-invite:hover {
  background-color: rgba(255, 255, 255, .1);
}

.cGL-invite-friends-modal .modal-body {
  overflow: auto;
  max-height: 70vh;
  margin-bottom: 0px;
}

.cGL-invite-friends-modal .modal-body .friend {
  padding: 0px 5px;
  margin: 5px 0px;
  height: auto;
  line-height: 50px;
  transition: all .3s;
  border-radius: 5px;
}

.cGL-invite-friends-modal .modal-body .friend:hover {
  background-color: rgba(200, 200, 200, 0.1);
}

.cGL-invite-friends-modal .modal-body .friend:active {
  background-color: rgba(20, 20, 20, 0.1);
}

.cGL-invite-friends-modal .modal-body .img {
  padding-right: 5px;
  float: left;
}

.cGL-invite-friends-modal .modal-body .img img {
  height: 36px;
  border-radius: 36px;
}

.cGL-invite-friends-modal .modal-body .nick {
  padding-right: 5px;
  float: left;
  width: 78%;
}

.cGL-invite-friends-modal .modal-body .add {
  float: left;
}

.cGL-invite-friends-modal .modal-body .add button {
  margin-top: 0px;
  line-height: 0px;
  padding: 5px 20px;
}

.cGL-invite-friends-modal .modal-body .friend:after {
  content: "";
  display: table;
  clear: both;
}

.social-game-invitations {
  overflow: auto;
  max-height: 15vh;
}

.social-game-invitation {
  background-color: rgba(62, 55, 169, 0.31);
  border-left: 5px solid gold;
  padding: 0px 10px;
  padding-bottom: 2px;
  line-height: 55px;
  display: none;
  transition: background-color .3s;
}

.social-game-invitation:after {
  content: "";
  display: table;
  clear: both;
}

.social-game-inv-img {
  float: left;
  margin-right: 9px;
}

.social-game-inv-img img {
  height: 48px;
}

.social-game-inv-info {
  float: left;
  margin-right: 15px;
  line-height: 22px;
  width: 54%;
  padding-top: 7px;
}

.social-game-inv-options {
  float: left;
}

.social-game-inv-accept {
  float: left;
  margin-right: 10px;
  cursor: pointer;
  transition: color .2s;
}

.social-game-inv-decline {
  float: left;
  cursor: pointer;
}

.social-game-inv-accept:hover {
  color: rgba(255, 255, 255, 0.8)
}

.social-game-inv-decline:hover {
  color: rgba(255, 255, 255, 0.8)
}

.social-game-inv-accept:active {
  color: rgba(255, 255, 255, 0.6)
}

.social-game-inv-decline:active {
  color: rgba(255, 255, 255, 0.6)
}
